:root {
    --main-btnBackgroundColor: #005fff; // 按钮主题色
    --main-btnHoverColor: #EEF1F6; // 按钮hover色
    --main-btnPressedColor: #004CCC; // 按钮pressed色,按下
    --main-btnHoverColor1: #337FFF; // 按钮hover色
    --main-backgroundColor: #f6f8fc; // 页面主题色
    --main-borderRadio: 4px; // 页面主题边框圆角
    --main-borderColor: #e6e9f5; // 页面主题边框颜色
    --main-fontColor1: #1D2129; // 页面文本颜色1
    --main-fontColor2: #4E5969; // 页面文本颜色2
    --main-fontColor3: #86909C; // 页面文本颜色3
}