:root {
  --main-btnBackgroundColor: #005fff;
  --main-btnHoverColor: #EEF1F6;
  --main-btnPressedColor: #004CCC;
  --main-btnHoverColor1: #337FFF;
  --main-backgroundColor: #f6f8fc;
  --main-borderRadio: 4px;
  --main-borderColor: #e6e9f5;
  --main-fontColor1: #1D2129;
  --main-fontColor2: #4E5969;
  --main-fontColor3: #86909C;
}
